.tab{
    height:40px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    display: -webkit-box;
    margin-bottom: 10px;
}

.tab>a{
    display: block;
    -webkit-box-flex : 1;
    font-size: 1.4rem;
    /*padding:0 18px;
    margin:0 25px;*/
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
}

.tab>a.current{
    color:#007DFF;
    border-bottom: 1px solid #007DFF;
}
